* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #1C1C1C;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1C1C1C;
}

.row {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-size: 30px;
}

.row .btn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.row input {
    padding: 20px 5px;
    max-width: 45%;
    
    /* border: none; */
    outline: none;
    background: none;
    border: none;
    color: white;
    text-align: right;
    font-size: 40px;
    /* scrollbar-width: 0; */
}